@{
    ViewData["Title"] = "About Us";
}

<div class="about-header">
    <header class="top-header">
        <h1 class="header-text">About Us</h1>
        <h3 class="header-subtitle">What is ASP.NET?</h3>
        <div id="greetingMessage" class="greeting-msg"></div>
        @*  <h2>It's the @(((int)DateTime.Now.DayOfWeek <= 5 && DateTime.Now.DayOfWeek != 0) ? "Weekday" : "Weekend")!</h2> *@
        <h4>@(((int)DateTime.Now.DayOfWeek <= 5 && DateTime.Now.DayOfWeek != 0) ? "Its a Weekday :(" : "It's the Weekend :D")!</h4>
@*         <div id="currentDate" class="date-badge"></div>
 *@    </header>
</div>

<div class="about-middle">
    <section class="about-section">
        <p>
            ASP.NET is an open source web framework, created by Microsoft, for building modern web apps and services with .NET.
            ASP.NET is cross platform and runs on Windows, Linux, macOS, and Docker.
            .NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.
            The base platform provides components that apply to all different types of apps. Additional frameworks, such as ASP.NET, extend .NET with components for building specific types of apps.
            <br />
            <br />
            Here are some things included in the .NET platform:
        </p>
        <ul>
            <li>
                The C#, F# and Visual Basic Programming Languages
            </li>
            <li>
                Base libraries for working with strings, dates, files/IO, and more.
            </li>
            <li>
                Editors and tools for Windows, Linux, MacOS, and Docker.
            </li>
        </ul>

        <p>I have built this web application from knowledge learned by online sources in preparation for beginning a new role as a Software Developer in January.</p>
    </section>
</div>

<div class="source">
    <footer class="about-footer">
        <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet">What is ASP.NET | Ms</a>
    </footer>
</div>

<script src="~/js/site.js"></script>