@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shop</h1>
    <h3>Welcome to this ASP.NET shop!</h3>

    <div id="currentDate"></div>
    <script src="~/js/site.js"></script>
</div>

<div class="main-content">
    <h1>SPINNING!</h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eget donec taciti auctor tempus hendrerit diam. Primis penatibus magnis blandit blandit purus at mattis amet. Finibus ligula ut eu; maximus ornare eros. Sociosqu ut tristique imperdiet lacus accumsan enim. Ultricies velit tempor sapien, pulvinar at ante? Rhoncus posuere aliquam ligula accumsan dui feugiat rhoncus.

        Dui platea non morbi nulla eu luctus aliquet. Cubilia ultrices ultrices ullamcorper aliquet feugiat volutpat gravida praesent leo. Dolor fames nunc nostra nec libero. Auctor placerat aliquet tortor urna semper lacus erat. Mauris ligula semper purus habitant dis lectus aptent justo tincidunt. Ut tristique pretium vivamus potenti libero. Pellentesque vitae urna aenean lectus pellentesque egestas. Lacus blandit malesuada magnis torquent suspendisse. Donec lacus mauris hac justo proin rhoncus nullam curae.

        Auctor convallis parturient phasellus himenaeos tincidunt; neque quam primis. Eu adipiscing malesuada sit vulputate lacinia lacinia mattis ultrices netus. Elit pellentesque aliquet vulputate nisi maximus pharetra amet enim. Mus ac arcu cras id semper litora natoque. Morbi consectetur suspendisse venenatis per metus penatibus. Sociosqu iaculis accumsan fames odio dis cubilia sagittis. Tempor quis in consequat condimentum ante; hac at metus. Posuere rhoncus cras facilisis nec taciti est ut!

        Gravida primis diam duis; a nec pellentesque nibh elit? Mollis iaculis ex sapien laoreet vulputate magna maecenas finibus. Id feugiat mus condimentum suscipit luctus vel tellus. Fames hendrerit ultricies elementum penatibus morbi elit montes. Orci tempus cubilia aliquam varius, vitae interdum ridiculus interdum nisi. Quis dignissim euismod efficitur turpis sit mollis magnis nunc phasellus. Felis vehicula litora, justo consectetur duis semper et.

        Lacinia sapien platea pellentesque urna netus; porttitor sollicitudin eros. Pharetra vulputate magnis bibendum lacus condimentum nam. Suspendisse senectus ultricies porta egestas lobortis venenatis. Orci quis congue aenean lobortis massa purus quisque vulputate curae. Sagittis pharetra quisque odio per augue purus dapibus consequat. Mi ac rhoncus rhoncus; integer magnis leo maecenas. Montes penatibus sit litora arcu finibus integer.
    </p>
</div>
